* {
  border: none;
  font-family: 'Hack Nerd Font', 'Symbols Nerd Font Mono';
  font-size: 14px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 20px;
  min-width: 20px;
}

window#waybar {
  background: transparent;
}

#waybar.empty #window {  
 background:none;
 border: none;
}

#workspaces button {
  background: #1E1E2E;
  color: #CDD6F4;
  padding: 0 2px 0 0;
}

#workspaces, #window, #pulseaudio, #cpu, #memory, #bluetooth, #tray {
  border-radius: 10px;
  border: 2px solid #CDD6F4;
  background-color: #1E1E2E;
  opacity: 0.8;
  color: #CDD6F4;
  padding: 0 10px;
  margin: 30px 0 0 0;
}

#clock {
  border-radius: 10px;
  border: 2px solid #CDD6F4;
  background-color: #1E1E2E;
  opacity: 0.8;
  color: #CDD6F4;;
  padding: 0 16px 0 10px;
  margin: 30px 0 0 0;
}

#custom-powermenu {
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #CDD6F4;
  background-color: #1E1E2E;
  border-radius: 10px;
  opacity: 0.8;
  color: #89dceb;
  padding: 10px 12px 10px 10px;
  margin: 30px 0 0 0;
}

#custom-spotify {
  color: #a6d189;
  border-radius: 8px;
  border: 2px solid #CDD6F4;
  background-color: #1E1E2E;
  opacity: 0.8;
  padding: 0 15px 0 10px;
  margin: 30px 0 0 0;
}
