* {
  border: none;
  font-family: 'Hack Nerd Font', 'Symbols Nerd Font Mono';
  font-size: 13px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 30px;
}

window#waybar {
  background: transparent;
}

#waybar.empty #window {  
 background:none;
 border: none;
}

#workspaces button {
  background: #11111b;
  color: #d8e4ff;
}

#workspaces, #clock, #window, #pulseaudio, #cpu, #memory, #bluetooth, #tray {
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: #11111b;
  opacity: 0.7;
  color: #d8e4ff;
  padding: 0 10px;
  margin: 30px 0 0 0;
}

#custom-powermenu {
  font-size: 18px;
  min-width: 30px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: #11111b;
  opacity: 0.7;
  color: pink;
  padding: 10px 13px 10px 10px;
  margin: 30px 0 0 0;
}

#custom-spotify {
  color: #41E17A;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: #11111b;
  opacity: 0.7;
  padding: 0 15px 0 10px;
  margin: 30px 0 0 0;
}

